{% extends 'main.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/clients-form.css' %}" />
{% endblock %} {% block content %}
<section class="add-client-page">
  <div class="form-wrapper">
    <h2>
      {% if form.instance.pk %} Modifier Client {% else %} Ajouter Nouveau
      Client {% endif %}
    </h2>

    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <div class="form-actions">
        <button type="submit" class="btn primary">
          {% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %}
        </button>
        <a href="{% url 'clients' %}" class="btn cancel">Annuler</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
