{% extends 'main.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/vehicle-form.css' %}">
{% endblock %}

{% block content %}
<section class="add-client-page">
  <div class="form-wrapper">
    <h2>{% if form.instance.pk %}Modifier Véhicule{% else %}Ajouter Véhicule{% endif %}</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button type="submit" class="btn primary">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %}</button>
        <a href="{% url 'vehicules' %}" class="btn cancel">Annuler</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
