* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  overflow-x: hidden;
}
#sp {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  color: #2196f3;
  text-decoration: none;
  transition: background 0.3s;
  min-width: 20px;
  text-align: center;
  cursor: pointer;
}
nav {
  flex: none;
  width: 250px;
  height: 100vh;
  background-color: white;
  transition: all 0.3s;
  padding-top: 10px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav.min {
  width: 60px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  color: #2196f3;
  text-decoration: none;
  transition: background 0.3s;
}
nav ul li {
  padding-bottom: 20px;
}
nav ul li span {
  color: #666666;
}

nav ul li a:hover {
  background-color: #70befe;
}

nav ul li a i {
  min-width: 20px;
  text-align: center;
}

nav.min ul li a span {
  display: none;
}

nav #overlay {
  display: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
}

.header-left h1 {
  font-size: 20px;
}

.header-right i {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

article {
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  nav {
    left: -250px;
    z-index: 1000;
  }

  nav.active {
    left: 0;
  }

  nav #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 999;
  }

  main {
    margin-left: 0;
  }
}
