{% load static %}
<nav id="sidenav">
  <ul>
    <!-- Hamburger toggle inside sidebar -->
    <li
      href="javascript:void(0)"
      class="toggle-btn"
      onclick="toggleSidenav()"
      id="sp"
    >
      <i class="fa fa-bars"></i>
    </li>
    <li>
      <a href=""><i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a>
    </li>
    <li>
      <a href="{% url 'clients' %}"
        ><i class="fa fa-users"></i><span>Clients</span></a
      >
    </li>
    <li>
      <a href="{% url 'drivers' %}"
        ><i class="fa fa-id-badge"></i><span>Chauffeurs</span></a
      >
    </li>
    <li>
      <a href="{% url 'vehicles' %}"
        ><i class="fa fa-car-side"></i><span>Vehicules</span></a
      >
    </li>
    <li>
      <a href="{% url 'destinations' %}"
        ><i class="fa fa-map-marker-alt"></i><span>Destination</span></a
      >
    </li>
    <li>
      <a href="{% url 'service-types' %}"
        ><i class="fa fa-shipping-fast"></i><span>Type de livraison</span></a
      >
    </li>
    <li>
      <a href="{% url 'zones' %}"
        ><i class="fa fa-money-bill-wave"></i><span>Tarification</span></a
      >
    </li>
  </ul>
  <div id="overlay" onclick="toggleSidenav()"></div>
</nav>

<script>
  function toggleSidenav() {
    const sidenav = document.querySelector("#sidenav");
    const main = document.querySelector("main");
    sidenav.classList.toggle("min");

    // Adjust main content margin
    if (sidenav.classList.contains("min")) {
      main.style.marginLeft = "60px";
    } else {
      main.style.marginLeft = "250px";
    }
  }

  // Set initial margin
  window.addEventListener("load", () => {
    const sidenav = document.querySelector("#sidenav");
    const main = document.querySelector("main");
    main.style.marginLeft = sidenav.classList.contains("min")
      ? "60px"
      : "250px";
  });
</script>
